
* {
    margin:0;
    padding:0;
}

body {
    position: relative;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.bg {
    height:100%;
    width:100%;
    background-color: green;
    color: black;
    font-weight: bold;
}
 
.header {
    height: 50px;
    color: red;
}

.footer {
    height: 50px;
    color: red;
}

.main {
    height: calc( 100vh - 100px );
    width: 100%;
    background-color: snow;
    background-image: url("https://cryptokoi.mochalab.jp/logo512.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: black;
    opacity: 1.0; 
}

.main2-div {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 600px;
    background-color: forestgreen;
    cursor: pointer;
}
.main2-div:hover {
    background-color: blue;
}
.main2-div:active {
    transform: translate(-50%,-45%);
    background-color: lightblue;
}
.main2-p {
    user-select: none;
    line-height:100px;
    text-align: center;
    color: snow;
}

